@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
    /* Change the color and text-shadow of the elements in the click-target-container and top-sites-list */
    .click-target-container *,
    .top-sites-list * {
        color: #fff !important;
        text-shadow: 2px 2px 2px #222 !important;
    }

    /* Add a custom background image to the body */
    body::before {
        content: "";
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        background: url("img/1a40f1892486aa08a2945d85b6542a2aa75ef7a5ef7dd4ecf5b0997d0cdc11d9.jpg") no-repeat center;
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
}

